.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.btn-primary {
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
}

#encrypted-token {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    font-size: 14px;
    padding: 12px;
}